.tippy-tooltip {
    $tooltip-color-background: var(--h2-bgColor-light--2);

    &.light-modern-theme {
        color: var(--color-base--subtle);
        padding: 6px 14px;
        border: 1px solid var(--border-color-subtle);
        border-radius: 24px;
        background-color: $tooltip-color-background !important;
        box-shadow: var(--box-shadow-card);
        backdrop-filter: blur(16px);
    }

    .tippy-backdrop {
        background-color: $tooltip-color-background !important;
    }

    .tippy-arrow {
        border-bottom: 8px solid $tooltip-color-background !important;
    }

    .tippy-content {
        word-break: normal;
    }

    &.none-theme {
        display: none;
    }
}